body {
    background: rgb(245, 243, 243);
  }
  .grid-3 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }
  .country {
    border-radius: 10px;
    margin: 10px;
    padding: 20px;
    background: rgb(240, 239, 239);
  }
  .map-btn {
    margin-bottom: 5px;
  }
  .map-btn a {
    text-decoration: none;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    background: #4169e1;
    border: 2px solid #4169e1;
    transition: all 0.3s ease-in-out;
  }
  .map-btn a:hover {
    color: black;
    background: transparent;
  }
  
  @media only screen and (max-width: 675px) {
    .grid-3 {
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
  }
  @media only screen and (max-width: 992px) and (min-width: 676px) {
    .grid-3 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }